@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  font-family: "Inter", sans-serif;
  
}
.btn-primary{
  @apply bg-primary text-white border-none hover:bg-primary
}
.btn-outline{
  @apply border-white text-white hover:bg-transparent hover:border-primary hover:text-primary
}